html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

iframe {
    display: block;
    width: 100%;
    border: none;
    height: 60px;
    margin: 0;
    padding: 0;
}

#menu {
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
}

body {
    background-color: #fdf1d3;
}

#page {
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

#dodatniDetalji {
    width: 100%;
    display: block;
    height: auto;
}

h3 {
    padding-left: 25px;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
    gap: 20px;
    padding-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 20px;
    width: 298px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.grid-item img {
    width: 90%;
    display: block;
    margin: 10px auto;
}

.grid-item p {
    width: 90%;
    display: block;
    margin: 10px auto;
    height: auto;
}

.grid-item button {
    width: 50%;
    padding: 5px;
    margin: 20px auto;
}

#filterElementi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 50%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#filterElementi label {
    margin-bottom: 5px;
    display: block;
}

#filterElementi input {
    width: 100%;
    padding: 5px;
}

#filterElementi button {
    width: 50%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    grid-column: span 2;
    margin-left: auto;
    margin-right: auto;
}